{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Admin Interface</h2>
        <a href="{{ url_for('admin_logout') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Logout
        </a>
    </div>
    
    <h3 class="text-xl font-bold mb-4">Pending Events</h3>
    {% for event in pending_events %}
    <div class="mb-8 bg-white shadow-md rounded-lg p-6">
        <h4 class="text-lg font-bold mb-2">{{ event.name }}</h4>
        <p class="mb-2">{{ event.description }}</p>
        <p class="mb-2">Phone: {{ event.phone_number }}</p>
        <p class="mb-2">Location: {{ event.location }}</p>
        <p class="mb-2">Instagram: {{ event.instagram }}</p>
        <p class="mb-2">Link: {{ event.link }}</p>
        <div class="flex justify-between mt-4">
            <form action="{{ url_for('approve_event', event_index=loop.index0) }}" method="POST" class="approve-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Approve
                </button>
            </form>
            <form action="{{ url_for('reject_event', event_index=loop.index0) }}" method="POST" class="reject-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Reject
                </button>
            </form>
        </div>
    </div>
    {% endfor %}

    <h3 class="text-xl font-bold mb-4 mt-8">Approved Events</h3>
    {% for event in approved_events %}
    <div class="mb-8 bg-white shadow-md rounded-lg p-6">
        <h4 class="text-lg font-bold mb-2">{{ event.name }}</h4>
        <p class="mb-2">{{ event.description }}</p>
        <p class="mb-2">Phone: {{ event.phone_number }}</p>
        <p class="mb-2">Location: {{ event.location }}</p>
        <p class="mb-2">Instagram: {{ event.instagram }}</p>
        <p class="mb-2">Link: {{ event.link }}</p>
    </div>
    {% endfor %}

    <h3 class="text-xl font-bold mb-4 mt-8">Manage Brigades</h3>
    {% for brigade in brigades %}
    <div class="mb-8 bg-white shadow-md rounded-lg p-6">
        <h4 class="text-lg font-bold mb-2">{{ brigade.Name }}</h4>
        <p class="mb-2">Alias: {{ brigade.Alias }}</p>
        <p class="mb-2">Phone: {{ brigade['Phone Number'] }}</p>
        <p class="mb-2">Instagram: {{ brigade.Instagram }}</p>
        <p class="mb-2">Facebook: {{ brigade.Facebook }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
