<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brigadas Voluntarias en Córdoba</title>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body class="min-h-screen">
    <header class="bg-h6 p-4">
        <h1 class="text-xl font-semibold text-center text-white">Ayudemos a las brigadas voluntarias</h1>
    </header>
    <main class="container mx-auto p-4">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center p-4 mt-8">
        <p>&copy; 2024 – <a href="https://www.linkedin.com/in/carlosgraffi">Carlos Graffi</a> – Made in Replit</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
