{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="mb-8">
        <h2 class="text-5xl font-bold mb-16 mt-16">¿Por qué es importante donar a las brigadas?</h2>
        <p class="my-8 text-l">
            Las brigadas NO dependen del Estado o del cuerpo de bomberos voluntarios. Son personas que luchan contra la destrucción de nuestro monte de manera totalmente autogestiva e independiente. La donación de dinero en efectivo es una acción concreta que pueden tomar las personas que no se encuentran en las cercanías y ayuda a solventar los insumos de las brigadas que están combatiendo el fuego activamente, hoy y durante toda la temporada de fuegos.
        </p>
    </div>

    <div class="mb-8">
        <input type="text" id="search" placeholder="Buscar brigada por nombre o alias" class="w-full p-2 border rounded">
    </div>

    <div class="custom-disclaimer p-4 mb-8" role="alert">
        <div class="flex">
            <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm">
                    La información mostrada en esta página ha sido recopilada a través la difusión en redes sociales de las diferentes brigadas. Para tu seguridad incluimos al menos una forma de contacto (teléfono o redes sociales) para cada una. Te recomendamos contactar a cada brigada en caso de que quieras confirmar algún dato de contacto o transferencia. Esta página no tiene ninguna afiliación con las brigadas ni con el Estado de Córdoba y tiene un fin exclusivamente informativo y de concientización.
                </p>
            </div>
        </div>
    </div>

    <div id="brigades-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for brigade in brigades %}
        <div class="brigade-card rounded-lg shadow-md p-6">
            <h2 class="text-xl font-bold mb-2">
                <svg class="inline-block w-6 h-6 mr-2 fill-current text-white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M336 972.8c-60.8-128-28.8-201.6 19.2-268.8 51.2-76.8 64-150.4 64-150.4s41.6 51.2 25.6 134.4c70.4-80 83.2-208 73.6-256 160 112 230.4 358.4 137.6 537.6 492.8-281.6 121.6-700.8 57.6-745.6 22.4 48 25.6 128-19.2 166.4-73.6-281.6-256-336-256-336 22.4 144-76.8 300.8-172.8 419.2-3.2-57.6-6.4-96-38.4-153.6-6.4 105.6-86.4 188.8-108.8 294.4C89.6 758.4 140.8 860.8 336 972.8L336 972.8z" />
                </svg>
                {{ brigade.Name }}
            </h2>
            <p class="mb-2">
                Alias: {{ brigade.Alias or 'N/A' }}
            </p>
            <p class="mb-2">
                Teléfono: 
                {% if brigade['Phone Number'] %}
                    <a href="https://wa.me/{{ brigade['Phone Number']|replace(' ', '') }}" target="_blank" class="hover:underline">{{ brigade['Phone Number'] }}</a>
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p class="mb-2">
                Instagram: 
                {% if brigade.Instagram %}
                    <a href="https://www.instagram.com/{{ brigade.Instagram.lstrip('@') }}" target="_blank" class="hover:underline">{{ brigade.Instagram }}</a>
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p>Facebook: {{ brigade.Facebook or 'N/A' }}</p>
            <div class="button-container">
                <button class="mt-4 px-4 py-2 rounded copy-alias copy-alias-btn btn-full-width" data-alias="{{ brigade.Alias }}">Copiar Alias</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-12">
        <h2 class="text-3xl font-bold mb-4">Eventos de Donación</h2>
        <div id="events-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for event in donation_events %}
            <div class="event-card rounded-lg shadow-md p-6 mb-4">
                <h3 class="text-2xl font-bold mb-3 text-f9536e">{{ event.name }}</h3>
                <p class="mb-3 text-gray-300">{{ event.description }}</p>
                <div class="grid grid-cols-2 gap-2 text-sm">
                    <p>
                        <span class="font-semibold">Teléfono:</span><br>
                        {% if event.phone_number %}
                            <a href="https://wa.me/{{ event.phone_number|replace(' ', '') }}" target="_blank" class="hover:underline text-4da8da">{{ event.phone_number }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                    <p>
                        <span class="font-semibold">Ubicación:</span><br>
                        <a href="https://www.google.com/maps/search/?api=1&query={{ event.location|urlencode }}" target="_blank" class="hover:underline text-4da8da">{{ event.location }}</a>
                    </p>
                    <p>
                        <span class="font-semibold">Instagram:</span><br>
                        {% if event.instagram %}
                            <a href="https://www.instagram.com/{{ event.instagram.lstrip('@') }}" target="_blank" class="hover:underline text-4da8da">{{ event.instagram }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                    {% if event.link %}
                    <p>
                        <span class="font-semibold">Enlace:</span><br>
                        <a href="{{ event.link }}" target="_blank" class="hover:underline text-4da8da">Más información</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
